body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    font-size: 2rem;
}

main {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
	flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    max-width: 1000px;
    margin: auto;
}

.card {
    background: white;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.images {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.image-column img {
    width: 100%;
    max-width: 300px;
    max-height: 150px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.guestbook-container {
    display: flex;
    justify-content: center;
}

.guestbook-messages {
    text-align: left;
    max-width: 80%; 
    margin-left: 10px;
}